In [22]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [23]:
# Read csv
df = pd.read_csv('E:\OneDrive\Arbeit\Repos\DMC2022\Kevin\csv\complete_dataset_cleaned_labeled.csv', sep='|')
df.head()

,Unnamed: 0,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,week
0,0,2020-06-01,38769,3477,1,186,6,0,196,0,45,"[74, 4109, 3867, 803, 4053]",1
1,1,2020-06-01,42535,30474,1,193,10,3,229,3,132,"[3459, 3738, 679, 1628, 4072]",1
2,2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,"[2973, 2907, 2749, 3357]",1
3,3,2020-06-01,42535,20131,1,347,4,0,291,3,44,"[30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...",1
4,4,2020-06-01,42535,4325,1,539,6,0,303,0,45,"[3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...",1

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1069416 entries, 0 to 1069415
Data columns (total 13 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1069416 non-null  int64
 1   date        1069416 non-null  object
 2   userID      1069416 non-null  int64
 3   itemID      1069416 non-null  int64
 4   order       1069416 non-null  int64
 5   brand       1069416 non-null  int64
 6   feature_1   1069416 non-null  int64
 7   feature_2   1069416 non-null  int64
 8   feature_3   1069416 non-null  int64
 9   feature_4   1069416 non-null  int64
 10  feature_5   1069416 non-null  int64
 11  categories  1069416 non-null  object
 12  week        1069416 non-null  int64
dtypes: int64(11), object(2)
memory usage: 106.1+ MB

In [25]:
# Convert categories to data type category
#df["categories"] = df["categories"].astype("category")

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1069416 entries, 0 to 1069415
Data columns (total 13 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1069416 non-null  int64
 1   date        1069416 non-null  object
 2   userID      1069416 non-null  int64
 3   itemID      1069416 non-null  int64
 4   order       1069416 non-null  int64
 5   brand       1069416 non-null  int64
 6   feature_1   1069416 non-null  int64
 7   feature_2   1069416 non-null  int64
 8   feature_3   1069416 non-null  int64
 9   feature_4   1069416 non-null  int64
 10  feature_5   1069416 non-null  int64
 11  categories  1069416 non-null  object
 12  week        1069416 non-null  int64
dtypes: int64(11), object(2)
memory usage: 106.1+ MB

# Preprocessing

In [27]:
# Drop 'Unnamed: 0' column
df.drop('Unnamed: 0', axis=1, inplace=True)

### Split datetime into separate columns

In [28]:
# Convert 'date' to datetime
df['date'] = pd.to_datetime(df['date'], format="%Y-%m-%d")

In [29]:
# Split 'date' into seperate columns
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year

In [30]:
# Move new columns to the front
col = df.pop("year")
df.insert(1, col.name, col)

col = df.pop("month")
df.insert(2, col.name, col)

col = df.pop("day")
df.insert(3, col.name, col)

In [31]:
# Drop date column since it's no longer needed
df.drop('date', axis=1, inplace=True)

In [156]:
# Show table
df.head()

,year,month,day,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,week
0,2020,6,1,38769,3477,1,186,6,0,196,0,45,"[74, 4109, 3867, 803, 4053]",1
1,2020,6,1,42535,30474,1,193,10,3,229,3,132,"[3459, 3738, 679, 1628, 4072]",1
2,2020,6,1,42535,15833,1,1318,4,1,455,0,108,"[2973, 2907, 2749, 3357]",1
3,2020,6,1,42535,20131,1,347,4,0,291,3,44,"[30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...",1
4,2020,6,1,42535,4325,1,539,6,0,303,0,45,"[3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...",1

### One-Hot-Encoding for categories

In [170]:
df2 = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

out = pd.DataFrame(df2.row.str.split(' ',2).tolist(),columns=['STD','City','State'])
out.drop(index=0,inplace=True)

In [160]:
df2.head()

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka

In [161]:
out.head()

   STD       City           State
1  33,    Kolkata     West Bengal
2  44,    Chennai      Tamil Nadu
3  40,  Hyderabad       Telengana
4  80,  Bangalore       Karnataka

1. categories column ist ein String (check mit type(df_cat['categories'][0]) ) 
2. categories Zellen in Listen konvertieren

In [18]:
# Read csv
df_cat = pd.read_csv('E:\OneDrive\Arbeit\Repos\DMC2022\Kevin\csv\complete_dataset_cleaned_labeled.csv', sep='|')
df_cat["categories"] = df_cat["categories"].astype("category")

df_cat.drop('Unnamed: 0', axis=1, inplace=True)
df_cat.drop('date', axis=1, inplace=True)
df_cat.drop('userID', axis=1, inplace=True)
df_cat.drop('itemID', axis=1, inplace=True)
df_cat.drop('order', axis=1, inplace=True)
df_cat.drop('brand', axis=1, inplace=True)
df_cat.drop('feature_1', axis=1, inplace=True)
df_cat.drop('feature_2', axis=1, inplace=True)
df_cat.drop('feature_3', axis=1, inplace=True)
df_cat.drop('feature_4', axis=1, inplace=True)
df_cat.drop('feature_5', axis=1, inplace=True)
df_cat.drop('week', axis=1, inplace=True)

df_cat = df_cat.head(3)
df_cat

                      categories
0    [74, 4109, 3867, 803, 4053]
1  [3459, 3738, 679, 1628, 4072]
2       [2973, 2907, 2749, 3357]

In [20]:
df_cat['categories'].dtype

CategoricalDtype(categories=['[0, 146, 1138, 1229]', '[0, 2833, 150, 411]',
                  '[1005, 163, 3688]', '[1005, 163]', '[1008]',
                  '[1011, 1746, 564, 3510, 2612, 3668, 2547, 3047, 2738, 3514, 2259]',
                  '[1011, 564, 3510, 1389, 1443, 2612, 3668, 2547, 3047, 2738, 3514, 2259]',
                  '[1012, 1350, 3986, 3924, 3915, 3912, 3914]',
                  '[1012, 1555, 1350, 237, 1657, 3924, 3915, 3540, 3912, 3914]',
                  '[1012, 1555, 1350]',
                  ...
                  '[990]', '[994, 779]', '[994]', '[995, 1343]',
                  '[995, 2675, 1343, 2313, 1114]', '[995]',
                  '[996, 3900, 3902, 3903, 4123]', '[996, 3914, 4123]',
                  '[996, 4123]', '[996]'],
, ordered=False)

In [16]:
s = pd.Series({0: ['a', 'b', 'c'], 1:['c'], 2: ['b', 'c', 'e'], 3: ['a', 'c'], 4: ['b', 'e'] })
type(df_cat['categories'][0])

str

In [12]:
pd.get_dummies(s.apply(pd.Series).stack()).sum(level=0)

C:\Users\kevin\AppData\Local\Temp\ipykernel_1552\2364077251.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  pd.get_dummies(s.apply(pd.Series).stack()).sum(level=0)

   a  b  c  e
0  1  1  1  0
1  0  0  1  0
2  0  1  1  1
3  1  0  1  0
4  0  1  0  1

In [8]:
?pd.get_dummies

In [9]:
pd.get_dummies(df_cat["categories"])

,"[0, 146, 1138, 1229]","[0, 2833, 150, 411]","[1005, 163, 3688]","[1005, 163]",[1008],"[1011, 1746, 564, 3510, 2612, 3668, 2547, 3047, 2738, 3514, 2259]","[1011, 564, 3510, 1389, 1443, 2612, 3668, 2547, 3047, 2738, 3514, 2259]","[1012, 1350, 3986, 3924, 3915, 3912, 3914]","[1012, 1555, 1350, 237, 1657, 3924, 3915, 3540, 3912, 3914]","[1012, 1555, 1350]",...,[990],"[994, 779]",[994],"[995, 1343]","[995, 2675, 1343, 2313, 1114]",[995],"[996, 3900, 3902, 3903, 4123]","[996, 3914, 4123]","[996, 4123]",[996]
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [247]:
cat_list = [i for i in range(1, 4300)]
#cat_list = ['klasse 1', 'klasse 2', 'klasse 3']

In [250]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

df_cat = pd.DataFrame(mlb.fit_transform([cat_list]), columns=mlb.classes_)
print (df_cat)

   1     2     3     4     5     6     7     8     9     10    ...  4290  \
0     1     1     1     1     1     1     1     1     1     1  ...     1

   4291  4292  4293  4294  4295  4296  4297  4298  4299
0     1     1     1     1     1     1     1     1     1

[1 rows x 4299 columns]

In [235]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

mlb.fit_transform([cat_list])
list(mlb.classes_)

['klasse 1', 'klasse 2']

In [204]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

df_cat = pd.DataFrame(mlb.fit_transform(df_cat['categories']), columns=mlb.classes_, index=df_cat.index)
print (df_cat)

      ,  0  1  2  3  4  5  6  7  8  9  [  ]
0  1  1  1  1  0  1  1  1  1  1  1  1  1  1
1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
2  1  1  1  0  1  1  1  1  0  1  0  1  1  1
3  1  1  1  1  1  1  1  1  1  1  1  1  1  1
4  1  1  1  1  1  1  1  1  1  1  1  1  1  1
5  1  1  0  1  0  1  1  0  1  0  1  1  1  1
6  1  1  1  1  1  1  1  1  1  1  1  1  1  1
7  1  1  1  1  1  1  1  0  1  1  0  1  1  1
8  1  1  0  1  1  1  0  1  1  1  0  0  1  1
9  1  1  1  1  1  1  1  1  1  0  0  1  1  1

In [199]:
df_cat = df_cat['categories'].str.join(',').str.get_dummies()

In [200]:
df_cat.head()

,"[,2,9,7,3,,, ,2,9,0,7,,, ,2,7,4,9,,, ,3,3,5,7,]","[,3,0,,, ,1,5,1,5,,, ,1,7,6,0,,, ,2,9,3,2,,, ,1,2,8,7,,, ,2,6,1,5,,, ,3,7,2,7,,, ,2,4,5,0,,, ,9,9,0,,, ,1,3,9,5,,, ,1,4,9,8,,, ,2,6,5,4,,, ,3,6,6,3,,, ,3,2,8,4,,, ,1,0,6,0,,, ,3,2,6,8,,, ,2,9,5,0,,, ,1,1,7,9,,, ,2,7,8,,, ,2,1,6,7,,, ,1,7,6,3,,, ,3,9,3,5,,, ,3,9,3,6,,, ,2,9,2,5,,, ,2,8,4,4,,, ,3,7,7,,, ,2,1,0,4,,, ,3,6,7,0,,, ,1,4,8,2,,, ,3,4,5,7,,, ,7,6,7,,, ,1,7,9,3,,, ,4,1,1,4,]","[,3,1,0,4,,, ,1,7,7,2,,, ,2,0,2,9,,, ,1,2,7,4,,, ,3,9,1,5,,, ,8,8,8,,, ,1,1,1,8,,, ,3,8,8,2,,, ,4,0,2,5,,, ,4,0,2,6,,, ,4,0,6,8,]","[,3,2,7,,, ,3,1,2,9,,, ,4,1,4,,, ,4,2,0,6,]","[,3,4,5,9,,, ,3,7,3,8,,, ,6,7,9,,, ,1,6,2,8,,, ,4,0,7,2,]","[,5,4,5,,, ,1,0,3,2,,, ,3,9,6,3,]","[,6,2,6,,, ,1,9,9,5,,, ,2,8,9,6,,, ,1,6,0,5,,, ,5,6,4,,, ,3,5,1,0,,, ,1,3,8,9,,, ,2,1,1,2,,, ,3,9,1,2,,, ,1,7,6,3,]","[,7,1,5,,, ,3,2,6,7,]","[,7,4,,, ,4,1,0,9,,, ,3,8,6,7,,, ,8,0,3,,, ,4,0,5,3,]","[,8,1,3,,, ,3,9,4,9,,, ,3,9,6,1,]"
0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0

In [180]:
out = pd.DataFrame(df_cat.categories.str.split(',').tolist())
out.drop(index=0,inplace=True)
out

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
1,[3459,3738,679,1628,4072],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[2973,2907,2749,3357],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[30,1515,1760,2932,1287,2615,3727,2450,990,1395,...,377,2104,3670,1482,3457,767,1793,4114],None,None
4,[3104,1772,2029,1274,3915,888,1118,3882,4025,4026,...,None,None,None,None,None,None,None,None,None,None
5,[813,3949,3961],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069411,[2315,3429,381,535,3283],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1069412,[3254,2754],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1069413,[514,2467,2360,2256,1518,3042],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1069414,[2256,41,1518,2826],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1069415,[2658,2010,1980,1760,2836,332,274],None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [130]:
# Show unique values in each columns
for x in df.columns:
    #prinfting unique values
    print(x ,':', len(df[x].unique()))

year : 2
month : 8
day : 31
userID : 46136
itemID : 30996
order : 51
brand : 1439
feature_1 : 12
feature_2 : 4
feature_3 : 528
feature_4 : 6
feature_5 : 188
categories : 12004
week : 4

In [96]:
# Check if we have any missing values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [year, month, day, userID, itemID, order, brand, feature_1, feature_2, feature_3, feature_4, feature_5, categories, week]
Index: []

### Datatypes for XGBoost

XGBoost natively supports continuous data but not categorical data. In order to use categorical data with XGBoost, we have to use One-Hot-Encoding which converts a column of categorical values into muliple columns of binary values.

# Modeling

In [45]:
df.drop('categories', axis=1, inplace=True)

KeyError: "['categories'] not found in axis"

In [46]:
# Comma is being used to extract a specific column from a 2D array.
# X = data.iloc[:,:-1]
# X = all rows, all columns except the last one 

X = df.iloc[:,1:-1]
X

,month,day,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5
0,6,1,38769,3477,1,186,6,0,196,0,45
1,6,1,42535,30474,1,193,10,3,229,3,132
2,6,1,42535,15833,1,1318,4,1,455,0,108
3,6,1,42535,20131,1,347,4,0,291,3,44
4,6,1,42535,4325,1,539,6,0,303,0,45
...,...,...,...,...,...,...,...,...,...,...,...
1069411,1,31,22114,29567,2,1445,3,0,-1,-1,-1
1069412,1,31,22114,21068,1,193,4,0,453,3,108
1069413,1,31,10900,18270,1,1383,6,0,537,0,46
1069414,1,31,17894,31265,5,1137,4,0,398,0,144
1069415,1,31,25974,17983,1,615,4,0,486,3,106

In [47]:
y = df.iloc[:,-1]
y

0          1
1          1
2          1
3          1
4          1
          ..
1069411    4
1069412    4
1069413    4
1069414    4
1069415    4
Name: week, Length: 1069416, dtype: int64

In [48]:
data_dmatrix = xgb.DMatrix(data=X, label=y)

C:\Users\kevin\anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [50]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [51]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)

[16:29:38] WARNING: d:\bld\xgboost-split_1645118015404\work\src\objective\regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.

In [19]:
# Je größer der RMSE ist, desto schlechter ist die Anpassung des Modells.
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 1.362557

In [21]:
model = XGBClassifier()
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [108]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 31.31%

In [53]:
model = XGBClassifier(tree_method='gpu_hist', gpu_id=0)
model.fit(X_train, y_train)

C:\Users\kevin\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

XGBoostError: [16:35:02] d:\bld\xgboost-split_1645118015404\work\src\common\common.h:157: XGBoost version not compiled with GPU support.

In [54]:
!conda list

# packages in environment at C:\Users\kevin\anaconda3:
#
# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0            py39haa95532_0
_py-xgboost-mutex         2.0                       cpu_0    conda-forge
aiohttp                   3.8.1            py39h2bbff1b_1
aiosignal                 1.2.0              pyhd3eb1b0_0
alabaster                 0.7.12             pyhd3eb1b0_0
anaconda                  2022.05                  py39_0
anaconda-client           1.9.0            py39haa95532_0
anaconda-navigator        2.2.0            py39haa95532_0
anaconda-project          0.10.2             pyhd3eb1b0_0
anyio                     3.5.0            py39haa95532_0
appdirs                   1.4.4              pyhd3eb1b0_0
argon2-cffi               21.3.0             pyhd3eb1b0_0
argon2-cffi-bindings      21.2.0           py39h2bbff1b_0
arrow                     1.2.2              pyhd3eb1b0_0
astroid                   2.6.6            py39haa95532_0
astropy                   5.0.4            py39h080aedc_0
asttokens                 2.0.5              pyhd3eb1b0_0
async-timeout             4.0.1              pyhd3eb1b0_0
atomicwrites              1.4.0                      py_0
attrs                     21.4.0             pyhd3eb1b0_0
automat                   20.2.0                     py_0
autopep8                  1.6.0              pyhd3eb1b0_0
babel                     2.9.1              pyhd3eb1b0_0
backcall                  0.2.0              pyhd3eb1b0_0
backports                 1.1                pyhd3eb1b0_0
backports.functools_lru_cache 1.6.4              pyhd3eb1b0_0
backports.tempfile        1.0                pyhd3eb1b0_1
backports.weakref         1.0.post1                  py_1
bcrypt                    3.2.0            py39h196d8e1_0
beautifulsoup4            4.11.1           py39haa95532_0
binaryornot               0.4.4              pyhd3eb1b0_1
bitarray                  2.4.1            py39h2bbff1b_0
bkcharts                  0.2              py39haa95532_0
black                     19.10b0                    py_0
blas                      1.0                         mkl
bleach                    4.1.0              pyhd3eb1b0_0
blosc                     1.21.0               h19a0ad4_0
bokeh                     2.4.2            py39haa95532_0
boto3                     1.21.32            pyhd3eb1b0_0
botocore                  1.24.32            pyhd3eb1b0_0
bottleneck                1.3.4            py39h080aedc_0
brotli                    1.0.9                ha925a31_2
brotlipy                  0.7.0           py39h2bbff1b_1003
bzip2                     1.0.8                he774522_0
ca-certificates           2022.3.29            haa95532_1
cachetools                4.2.2              pyhd3eb1b0_0
certifi                   2021.10.8        py39haa95532_2
cffi                      1.15.0           py39h2bbff1b_1
cfitsio                   3.470                he774522_6
chardet                   4.0.0           py39haa95532_1003
charls                    2.2.0                h6c2663c_0
charset-normalizer        2.0.4              pyhd3eb1b0_0
click                     8.0.4            py39haa95532_0
cloudpickle               2.0.0              pyhd3eb1b0_0
clyent                    1.2.2            py39haa95532_1
colorama                  0.4.4              pyhd3eb1b0_0
colorcet                  2.0.6              pyhd3eb1b0_0
comtypes                  1.1.10          py39haa95532_1002
conda                     4.13.0           py39hcbf5309_1    conda-forge
conda-build               3.21.8           py39haa95532_2
conda-content-trust       0.1.1              pyhd3eb1b0_0
conda-env                 2.6.0                haa95532_1
conda-pack                0.6.0              pyhd3eb1b0_0
conda-package-handling    1.8.1            py39h8cc25b3_0
conda-repo-cli            1.0.4              pyhd3eb1b0_0
conda-token               0.3.0              pyhd3eb1b0_0
conda-verify              3.4.2                      py_1
console_shortcut          0.1.1                         4
constantly                15.1.0             pyh2b92418_0
cookiecutter              1.7.3              pyhd3eb1b0_0
cryptography              3.4.8            py39h71e12ea_0
cssselect                 1.1.0              pyhd3eb1b0_0
curl                      7.82.0               h2bbff1b_0
cycler                    0.11.0             pyhd3eb1b0_0
cython                    0.29.28          py39hd77b12b_0
cytoolz                   0.11.0           py39h2bbff1b_0
daal4py                   2021.5.0         py39h8cb3d55_0
dal                       2021.5.0           haa95532_796
dask                      2022.2.1           pyhd3eb1b0_0
dask-core                 2022.2.1           pyhd3eb1b0_0
dataclasses               0.8                pyh6d0b6a4_7
datashader                0.13.0             pyhd3eb1b0_1
datashape                 0.5.4            py39haa95532_1
debugpy                   1.5.1            py39hd77b12b_0
decorator                 5.1.1              pyhd3eb1b0_0
defusedxml                0.7.1              pyhd3eb1b0_0
diff-match-patch          20200713           pyhd3eb1b0_0
distributed               2022.2.1           pyhd3eb1b0_0
docutils                  0.17.1           py39haa95532_1
entrypoints               0.4              py39haa95532_0
et_xmlfile                1.1.0            py39haa95532_0
executing                 0.8.3              pyhd3eb1b0_0
filelock                  3.6.0              pyhd3eb1b0_0
flake8                    3.9.2              pyhd3eb1b0_0
flask                     1.1.2              pyhd3eb1b0_0
fonttools                 4.25.0             pyhd3eb1b0_0
freetype                  2.10.4               hd328e21_0
frozenlist                1.2.0            py39h2bbff1b_0
fsspec                    2022.2.0           pyhd3eb1b0_0
future                    0.18.2           py39haa95532_1
gensim                    4.1.2            py39hd77b12b_0
giflib                    5.2.1                h62dcd97_0
glob2                     0.7                pyhd3eb1b0_0
google-api-core           1.25.1             pyhd3eb1b0_0
google-auth               1.33.0             pyhd3eb1b0_0
google-cloud-core         1.7.1              pyhd3eb1b0_0
google-cloud-storage      1.31.0                     py_0
google-crc32c             1.1.2            py39h2bbff1b_0
google-resumable-media    1.3.1              pyhd3eb1b0_1
googleapis-common-protos  1.53.0           py39h2eaa2aa_0
greenlet                  1.1.1            py39hd77b12b_0
grpcio                    1.42.0           py39hc60d5dd_0
h5py                      3.6.0            py39h3de5c98_0
hdf5                      1.10.6               h7ebc959_0
heapdict                  1.0.1              pyhd3eb1b0_0
holoviews                 1.14.8             pyhd3eb1b0_0
hvplot                    0.7.3              pyhd3eb1b0_1
hyperlink                 21.0.0             pyhd3eb1b0_0
icc_rt                    2019.0.0             h0cc432a_1
icu                       58.2                 ha925a31_3
idna                      3.3                pyhd3eb1b0_0
imagecodecs               2021.8.26        py39ha1f97ea_0
imageio                   2.9.0              pyhd3eb1b0_0
imagesize                 1.3.0              pyhd3eb1b0_0
importlib-metadata        4.11.3           py39haa95532_0
importlib_metadata        4.11.3               hd3eb1b0_0
incremental               21.3.0             pyhd3eb1b0_0
inflection                0.5.1            py39haa95532_0
iniconfig                 1.1.1              pyhd3eb1b0_0
intake                    0.6.5              pyhd3eb1b0_0
intel-openmp              2021.4.0          haa95532_3556
intervaltree              3.1.0              pyhd3eb1b0_0
ipykernel                 6.9.1            py39haa95532_0
ipython                   8.2.0            py39haa95532_0
ipython_genutils          0.2.0              pyhd3eb1b0_1
ipywidgets                7.6.5              pyhd3eb1b0_1
isort                     5.9.3              pyhd3eb1b0_0
itemadapter               0.3.0              pyhd3eb1b0_0
itemloaders               1.0.4              pyhd3eb1b0_1
itsdangerous              2.0.1              pyhd3eb1b0_0
jdcal                     1.4.1              pyhd3eb1b0_0
jedi                      0.18.1           py39haa95532_1
jinja2                    2.11.3             pyhd3eb1b0_0
jinja2-time               0.2.0              pyhd3eb1b0_3
jmespath                  0.10.0             pyhd3eb1b0_0
joblib                    1.1.0              pyhd3eb1b0_0
jpeg                      9e                   h2bbff1b_0
jq                        1.6                  haa95532_1
json5                     0.9.6              pyhd3eb1b0_0
jsonschema                4.4.0            py39haa95532_0
jupyter                   1.0.0            py39haa95532_7
jupyter_client            6.1.12             pyhd3eb1b0_0
jupyter_console           6.4.0              pyhd3eb1b0_0
jupyter_core              4.9.2            py39haa95532_0
jupyter_server            1.13.5             pyhd3eb1b0_0
jupyterlab                3.3.2              pyhd3eb1b0_0
jupyterlab_pygments       0.1.2                      py_0
jupyterlab_server         2.10.3             pyhd3eb1b0_1
jupyterlab_widgets        1.0.0              pyhd3eb1b0_1
keyring                   23.4.0           py39haa95532_0
kiwisolver                1.3.2            py39hd77b12b_0
lazy-object-proxy         1.6.0            py39h2bbff1b_0
lcms2                     2.12                 h83e58a3_0
lerc                      3.0                  hd77b12b_0
libaec                    1.0.4                h33f27b4_1
libarchive                3.4.2                h5e25573_0
libcrc32c                 1.1.1                ha925a31_2
libcurl                   7.82.0               h86230a5_0
libdeflate                1.8                  h2bbff1b_5
libiconv                  1.16                 h2bbff1b_2
liblief                   0.11.5               hd77b12b_1
libpng                    1.6.37               h2a8f88b_0
libprotobuf               3.19.1               h23ce68f_0
libspatialindex           1.9.3                h6c2663c_0
libssh2                   1.10.0               hcd4344a_0
libtiff                   4.2.0                hd0e1b90_0
libwebp                   1.2.2                h2bbff1b_0
libxgboost                1.5.1            cpu_h110a20b_2    conda-forge
libxml2                   2.9.12               h0ad7f3c_0
libxslt                   1.1.34               he774522_0
libzopfli                 1.0.3                ha925a31_0
llvmlite                  0.38.0           py39h23ce68f_0
locket                    0.2.1            py39haa95532_2
lxml                      4.8.0            py39h1985fb9_0
lz4-c                     1.9.3                h2bbff1b_1
lzo                       2.10                 he774522_2
m2w64-libwinpthread-git   5.0.0.4634.697f757               2
markdown                  3.3.4            py39haa95532_0
markupsafe                2.0.1            py39h2bbff1b_0
matplotlib                3.5.1            py39haa95532_1
matplotlib-base           3.5.1            py39hd77b12b_1
matplotlib-inline         0.1.2              pyhd3eb1b0_2
mccabe                    0.6.1            py39haa95532_1
menuinst                  1.4.18           py39h59b6b97_0
mistune                   0.8.4           py39h2bbff1b_1000
mkl                       2021.4.0           haa95532_640
mkl-service               2.4.0            py39h2bbff1b_0
mkl_fft                   1.3.1            py39h277e83a_0
mkl_random                1.2.2            py39hf11a4ad_0
mock                      4.0.3              pyhd3eb1b0_0
mpmath                    1.2.1            py39haa95532_0
msgpack-python            1.0.2            py39h59b6b97_1
msys2-conda-epoch         20160418                      1
multidict                 5.1.0            py39h2bbff1b_2
multipledispatch          0.6.0            py39haa95532_0
munkres                   1.1.4                      py_0
mypy_extensions           0.4.3            py39haa95532_1
navigator-updater         0.2.1                    py39_1
nbclassic                 0.3.5              pyhd3eb1b0_0
nbclient                  0.5.13           py39haa95532_0
nbconvert                 6.4.4            py39haa95532_0
nbformat                  5.3.0            py39haa95532_0
nest-asyncio              1.5.5            py39haa95532_0
networkx                  2.7.1              pyhd3eb1b0_0
nltk                      3.7                pyhd3eb1b0_0
nose                      1.3.7           pyhd3eb1b0_1008
notebook                  6.4.8            py39haa95532_0
numba                     0.55.1           py39hf11a4ad_0
numexpr                   2.8.1            py39hb80d3ca_0
numpy                     1.21.5           py39h7a0a035_1
numpy-base                1.21.5           py39hca35cd5_1
numpydoc                  1.2                pyhd3eb1b0_0
olefile                   0.46               pyhd3eb1b0_0
openjpeg                  2.4.0                h4fc8c34_0
openpyxl                  3.0.9              pyhd3eb1b0_0
openssl                   1.1.1n               h2bbff1b_0
packaging                 21.3               pyhd3eb1b0_0
pandas                    1.4.2            py39hd77b12b_0
pandocfilters             1.5.0              pyhd3eb1b0_0
panel                     0.13.0           py39haa95532_0
param                     1.12.0             pyhd3eb1b0_0
paramiko                  2.8.1              pyhd3eb1b0_0
parsel                    1.6.0            py39haa95532_0
parso                     0.8.3              pyhd3eb1b0_0
partd                     1.2.0              pyhd3eb1b0_1
pathspec                  0.7.0                      py_0
patsy                     0.5.2            py39haa95532_1
pep8                      1.7.1            py39haa95532_0
pexpect                   4.8.0              pyhd3eb1b0_3
pickleshare               0.7.5           pyhd3eb1b0_1003
pillow                    9.0.1            py39hdc2b20a_0
pip                       21.2.4           py39haa95532_0
pkginfo                   1.8.2              pyhd3eb1b0_0
plotly                    5.6.0              pyhd3eb1b0_0
pluggy                    1.0.0            py39haa95532_1
powershell_shortcut       0.0.1                         3
poyo                      0.5.0              pyhd3eb1b0_0
prometheus_client         0.13.1             pyhd3eb1b0_0
prompt-toolkit            3.0.20             pyhd3eb1b0_0
prompt_toolkit            3.0.20               hd3eb1b0_0
protego                   0.1.16                     py_0
protobuf                  3.19.1           py39hd77b12b_0
psutil                    5.8.0            py39h2bbff1b_1
ptyprocess                0.7.0              pyhd3eb1b0_2
pure_eval                 0.2.2              pyhd3eb1b0_0
py                        1.11.0             pyhd3eb1b0_0
py-lief                   0.11.5           py39hd77b12b_1
py-xgboost                1.5.1           cpu_py39ha538f94_2    conda-forge
pyasn1                    0.4.8              pyhd3eb1b0_0
pyasn1-modules            0.2.8                      py_0
pycodestyle               2.7.0              pyhd3eb1b0_0
pycosat                   0.6.3            py39h2bbff1b_0
pycparser                 2.21               pyhd3eb1b0_0
pyct                      0.4.6            py39haa95532_0
pycurl                    7.44.1           py39hcd4344a_1
pydispatcher              2.0.5            py39haa95532_2
pydocstyle                6.1.1              pyhd3eb1b0_0
pyerfa                    2.0.0            py39h2bbff1b_0
pyflakes                  2.3.1              pyhd3eb1b0_0
pygments                  2.11.2             pyhd3eb1b0_0
pyhamcrest                2.0.2              pyhd3eb1b0_2
pyjwt                     2.1.0            py39haa95532_0
pylint                    2.9.6            py39haa95532_1
pyls-spyder               0.4.0              pyhd3eb1b0_0
pynacl                    1.4.0            py39hbd8134f_1
pyodbc                    4.0.32           py39hd77b12b_1
pyopenssl                 21.0.0             pyhd3eb1b0_1
pyparsing                 3.0.4              pyhd3eb1b0_0
pyqt                      5.9.2            py39hd77b12b_6
pyreadline                2.1              py39haa95532_1
pyrsistent                0.18.0           py39h196d8e1_0
pysocks                   1.7.1            py39haa95532_0
pytables                  3.6.1            py39h56d22b6_1
pytest                    7.1.1            py39haa95532_0
python                    3.9.12               h6244533_0
python-dateutil           2.8.2              pyhd3eb1b0_0
python-fastjsonschema     2.15.1             pyhd3eb1b0_0
python-libarchive-c       2.9                pyhd3eb1b0_1
python-lsp-black          1.0.0              pyhd3eb1b0_0
python-lsp-jsonrpc        1.0.0              pyhd3eb1b0_0
python-lsp-server         1.2.4              pyhd3eb1b0_0
python-slugify            5.0.2              pyhd3eb1b0_0
python-snappy             0.6.0            py39hd77b12b_3
python_abi                3.9                      2_cp39    conda-forge
pytz                      2021.3             pyhd3eb1b0_0
pyviz_comms               2.0.2              pyhd3eb1b0_0
pywavelets                1.3.0            py39h2bbff1b_0
pywin32                   302              py39h2bbff1b_2
pywin32-ctypes            0.2.0           py39haa95532_1000
pywinpty                  2.0.2            py39h5da7b33_0
pyyaml                    6.0              py39h2bbff1b_1
pyzmq                     22.3.0           py39hd77b12b_2
qdarkstyle                3.0.2              pyhd3eb1b0_0
qstylizer                 0.1.10             pyhd3eb1b0_0
qt                        5.9.7            vc14h73c81de_0
qtawesome                 1.0.3              pyhd3eb1b0_0
qtconsole                 5.3.0              pyhd3eb1b0_0
qtpy                      2.0.1              pyhd3eb1b0_0
queuelib                  1.5.0            py39haa95532_0
regex                     2022.3.15        py39h2bbff1b_0
requests                  2.27.1             pyhd3eb1b0_0
requests-file             1.5.1              pyhd3eb1b0_0
rope                      0.22.0             pyhd3eb1b0_0
rsa                       4.7.2              pyhd3eb1b0_1
rtree                     0.9.7            py39h2eaa2aa_1
ruamel_yaml               0.15.100         py39h2bbff1b_0
s3transfer                0.5.0              pyhd3eb1b0_0
scikit-image              0.19.2           py39hf11a4ad_0
scikit-learn              1.0.2            py39hf11a4ad_1
scikit-learn-intelex      2021.5.0         py39haa95532_0
scipy                     1.7.3            py39h0a974cb_0
scrapy                    2.6.1            py39haa95532_0
seaborn                   0.11.2             pyhd3eb1b0_0
send2trash                1.8.0              pyhd3eb1b0_1
service_identity          18.1.0             pyhd3eb1b0_1
setuptools                61.2.0           py39haa95532_0
sip                       4.19.13          py39hd77b12b_0
six                       1.16.0             pyhd3eb1b0_1
smart_open                5.1.0              pyhd3eb1b0_0
snappy                    1.1.9                h6c2663c_0
sniffio                   1.2.0            py39haa95532_1
snowballstemmer           2.2.0              pyhd3eb1b0_0
sortedcollections         2.1.0              pyhd3eb1b0_0
sortedcontainers          2.4.0              pyhd3eb1b0_0
soupsieve                 2.3.1              pyhd3eb1b0_0
sphinx                    4.4.0              pyhd3eb1b0_0
sphinxcontrib-applehelp   1.0.2              pyhd3eb1b0_0
sphinxcontrib-devhelp     1.0.2              pyhd3eb1b0_0
sphinxcontrib-htmlhelp    2.0.0              pyhd3eb1b0_0
sphinxcontrib-jsmath      1.0.1              pyhd3eb1b0_0
sphinxcontrib-qthelp      1.0.3              pyhd3eb1b0_0