In [1]:
import warnings
warnings.filterwarnings("ignore")

import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
def show_mem_usage(df):
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))

In [3]:
# Read csv
file = r'E:\OneDrive\Arbeit\Repos\DMC2022\Kevin\csv\complete_dataset_labeled_wLastPurchaseDates.csv'
df_data = pd.read_csv(file, sep='|', dtype={'userID':np.uint32,
                                            'purchaseDates':str,
                                            'date':str, 
                                            'itemID':np.uint32,
                                            'order':np.uint8,
                                            'brand':np.uint16,
                                            'feature_1':np.uint8,
                                            'feature_2':np.uint8,
                                            'feature_3':np.uint16,
                                            'feature_4':np.uint8,
                                            'feature_5':np.uint16,
                                            'week':np.uint8})
                     #chunksize=10000)

#df_data2 = pd.read_csv(r'C:\Users\LEAND\Coding\knime-workspace\DMC2022\Leander\csv\complete_dataset_labeled_wLastPurchaseDates.csv', sep='|', chunksize=50000)

show_mem_usage(df_data)
df_data.head()
#df_data.get_chunk()

Memory usage of dataframe is 60.17 MB

,Unnamed: 0,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,week,purchaseDates,lastPurchaseDate
0,0,2020-06-01,38769,3477,1,186,6,0,196,0,45,"[74, 4109, 3867, 803, 4053]",1,['2020-06-01'],2222-03-03
1,1,2020-06-01,42535,30474,1,193,10,3,229,3,132,"[3459, 3738, 679, 1628, 4072]",1,['2020-06-01'],2222-03-03
2,2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,"[2973, 2907, 2749, 3357]",1,['2020-06-01'],2222-03-03
3,3,2020-06-01,42535,20131,1,347,4,0,291,3,44,"[30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...",1,['2020-06-01'],2222-03-03
4,4,2020-06-01,42535,4325,1,539,6,0,303,0,45,"[3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...",1,['2020-06-01'],2222-03-03

In [ ]:
# Convert categories to data type category
#df_data["categories"] = df_data["categories"].astype("category")

# Preprocessing

In [4]:
# Drop columns
df_data.drop('purchaseDates', axis=1, inplace=True)
df_data.drop('date', axis=1, inplace=True)
df_data.drop('order', axis=1, inplace=True)

df_data.head()

,Unnamed: 0,userID,itemID,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,week,lastPurchaseDate
0,0,38769,3477,186,6,0,196,0,45,"[74, 4109, 3867, 803, 4053]",1,2222-03-03
1,1,42535,30474,193,10,3,229,3,132,"[3459, 3738, 679, 1628, 4072]",1,2222-03-03
2,2,42535,15833,1318,4,1,455,0,108,"[2973, 2907, 2749, 3357]",1,2222-03-03
3,3,42535,20131,347,4,0,291,3,44,"[30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...",1,2222-03-03
4,4,42535,4325,539,6,0,303,0,45,"[3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...",1,2222-03-03

### Split datetime into separate columns

In [5]:
# Convert 'lastPurchaseDate' to datetime
df_data['lastPurchaseDate'] = pd.to_datetime(df_data['lastPurchaseDate'], format="%Y-%m-%d")

# Split 'date' into seperate columns
df_data['day'] = df_data['lastPurchaseDate'].dt.day
df_data['month'] = df_data['lastPurchaseDate'].dt.month
df_data['year'] = df_data['lastPurchaseDate'].dt.year

df_data.drop('lastPurchaseDate', axis=1, inplace=True)

In [ ]:
"""
# Move new columns to the front
col = df_data.pop("year")
df_data.insert(1, col.name, col)

col = df_data.pop("month")
df_data.insert(2, col.name, col)

col = df_data.pop("day")
df_data.insert(3, col.name, col)
"""

In [ ]:
# Show table
#df_data.head()

### Multi-Hot-Encoding for categories

In [6]:
# If you run out of memory while encoding the whole dataframe at once you can 
# split the dataframe into chunks beforehand 

df_data_chunk1 = df_data.iloc[:9458,:]
#df_chunk2 = df.iloc[500000:,:]

# Replace symbols in 'categories'
df_data_chunk1['categories'] = df_data_chunk1['categories'].str.replace("[", "")
df_data_chunk1['categories'] = df_data_chunk1['categories'].str.replace("]", "")

In [7]:
df_data_chunk1.head()

,Unnamed: 0,userID,itemID,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,week,day,month,year
0,0,38769,3477,186,6,0,196,0,45,"74, 4109, 3867, 803, 4053",1,3,3,2222
1,1,42535,30474,193,10,3,229,3,132,"3459, 3738, 679, 1628, 4072",1,3,3,2222
2,2,42535,15833,1318,4,1,455,0,108,"2973, 2907, 2749, 3357",1,3,3,2222
3,3,42535,20131,347,4,0,291,3,44,"30, 1515, 1760, 2932, 1287, 2615, 3727, 2450, ...",1,3,3,2222
4,4,42535,4325,539,6,0,303,0,45,"3104, 1772, 2029, 1274, 3915, 888, 1118, 3882,...",1,3,3,2222

In [8]:
df_data_chunk1["categories"] = df_data_chunk1["categories"].apply(lambda x: [int(i) for i in x.split(',')]).apply(pd.Series).stack().sum(level=0)

In [10]:
df_data_chunk1["categories"][0].dtype

dtype('float64')

In [9]:
df_data_chunk1.head()

,Unnamed: 0,userID,itemID,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,week,day,month,year
0,0,38769,3477,186,6,0,196,0,45,12906.0,1,3,3,2222
1,1,42535,30474,193,10,3,229,3,132,13576.0,1,3,3,2222
2,2,42535,15833,1318,4,1,455,0,108,11986.0,1,3,3,2222
3,3,42535,20131,347,4,0,291,3,44,73869.0,1,3,3,2222
4,4,42535,4325,539,6,0,303,0,45,30101.0,1,3,3,2222

In [ ]:
# WARNING: This Cell takes a couple of minutes to compute; ~50GB RAM needed to compute without chunks



# Convert categorical variable into dummy/indicator variables
#df_multi_hot = df_data_chunk1["categories"].str.get_dummies(',').astype(np.uint8)

df_multi_hot = pd.get_dummies(df_data_chunk1.categories, sparse=True, drop_first=False)

df_multi_hot

In [ ]:
show_mem_usage(df_multi_hot)

In [ ]:
df_multi_hot.loc[30]

In [ ]:
# Combine df_data and df_multi_hot
#pd.merge(df_data_chunk1, df_multi_hot, how='inner', left_index=True, right_index=True)
df_combined = df_data_chunk1.join(df_multi_hot, how='inner')

# delete df_multi_hot to free up RAM
#del df_multi_hot

In [ ]:
#df_combined.info()

In [ ]:
df_combined.head()

In [ ]:
df_combined.categories.dtype

In [ ]:
#df_combined_chunk1 = df_combined.iloc[:500000,:]
col = df_combined.pop("week")
df_combined.insert(len(df_combined.columns), col.name, col)

#df_combined_chunk2 = df_combined.iloc[500000:,:]

In [ ]:
df_combined.head()

In [ ]:
df_combined.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
# Check if we have any missing values
df_combined[df_combined.isnull().any(axis=1)]

### Datatypes for XGBoost

XGBoost natively supports continuous data but not categorical data. In order to use categorical data with XGBoost, we have to use One-Hot-Encoding which converts a column of categorical values into muliple columns of binary values.

# Modeling

In [ ]:
df_combined.head()

In [ ]:
#df_combined.drop('categories', axis=1, inplace=True)
df_combined.drop('year', axis=1, inplace=True)
df_combined.drop('month', axis=1, inplace=True)
df_combined.drop('day', axis=1, inplace=True)

In [ ]:
df_combined.head()

In [ ]:
# Comma is being used to extract a specific column from a 2D array.
# X = data.iloc[:,:-1]
# X = all rows, all columns except the last one 

X = df_combined.iloc[:,0:-1]
X

In [ ]:
y = df_combined.iloc[:,-1]
y

In [ ]:
# Split training and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123, stratify=y)

In [ ]:
X_train

In [ ]:
X_test

In [ ]:
data_dmatrix = xgb.DMatrix(data=X, label=y)

In [ ]:
del model1

In [ ]:
import gc
gc.collect()

In [ ]:
dir()

In [ ]:
params = {
        "booster": "dart",
        "eval_metric": "logloss",
    }

model1 = XGBClassifier(params)
model1.fit(X_train, y_train)

In [ ]:
model1 = XGBClassifier(booster='dart')
gbm = model1.fit(X_train, y_train)
y_train_pred = gbm.predict(X_train)
y_test_pred = gbm.predict(X_test)

gbm_train = accuracy_score(y_train, y_train_pred)
gbm_test = accuracy_score(y_test, y_test_pred)
print(f'XGboost train/test accuracies '
     f'{gbm_train:.3f}/{gbm_test:.3f}')

In [ ]:
model1.score(X_train,y_train), model1.score(X_test,y_test)

In [ ]:
# ‘weight’: the number of times a feature is used to split the data across all trees.
# https://xgboost.readthedocs.io/en/latest/python/python_api.html

feature_important = model1.get_booster().get_score(importance_type='weight')
keys = list(feature_important.keys())
values = list(feature_important.values())

data = pd.DataFrame(data=values, index=keys, columns=["score"]).sort_values(by = "score", ascending=False)
data.nlargest(40, columns="score").plot(kind='barh', figsize = (20,10)) ## plot top 40 features

In [ ]:
# ‘gain’: the average gain across all splits the feature is used in.
# https://xgboost.readthedocs.io/en/latest/python/python_api.html
feature_important = model1.get_booster().get_score(importance_type='gain')
keys = list(feature_important.keys())
values = list(feature_important.values())

data = pd.DataFrame(data=values, index=keys, columns=["score"]).sort_values(by = "score", ascending=False)
data.nlargest(80, columns="score").plot(kind='barh', figsize = (20,10)) ## plot top 40 features

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier = classifier.fit(X_train,y_train)

In [ ]:
classifier.score(X_train,y_train), classifier.score(X_test,y_test)

In [ ]:
#prediction for decision tree
y_pred1 = classifier.predict(X_test)#Accuracy
from sklearn import metrics
print('Accuracy Score:', metrics.accuracy_score(y_test,y_pred1))

In [ ]:
X_test.head(100)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred1)
cm

In [ ]:
#prediction for XGBoost
y_pred2 = model1.predict(X_test)#Accuracy
from sklearn import metrics
print('Accuracy Score:', metrics.accuracy_score(y_test,y_pred2))

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred2)
cm

In [ ]:
# make predictions for test data
y_pred = model1.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

In [ ]:
model = XGBClassifier(learning_rate=0.1)
model.fit(X_train, y_train)

In [ ]:
model.score(X_train,y_train), model.score(X_test,y_test)

In [ ]:
#model = XGBClassifier(tree_method='gpu_hist', gpu_id=0)
#model.fit(X_train, y_train)

In [ ]:
#xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
#                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
#xg_reg.fit(X_train,y_train)

#preds = xg_reg.predict(X_test)

In [ ]:
# Je größer der RMSE ist, desto schlechter ist die Anpassung des Modells.
#rmse = np.sqrt(mean_squared_error(y_test, preds))
#print("RMSE: %f" % (rmse))

In [ ]:
#!conda list