In [1]:
# import libraries
from datetime import datetime, timedelta, date
import pandas as pd

In [2]:
dmc_data = pd.read_csv('D:\Cloud\ownCloud\HAWCloud\HAW Media Systems\Kurse\Adaptive-Systems_Artificial-Intelligence\DMC_2022\DMC_2022_task\orders.csv', sep='|')

In [3]:
# split dataset into months

dmc_data['date'] = pd.to_datetime(dmc_data['date'], format="%Y-%m-%d")

dmc_jun = dmc_data[(dmc_data.date < datetime(2020,7,1)) & (dmc_data.date >= datetime(2020,6,1))].reset_index(drop=True)
dmc_jul = dmc_data[(dmc_data.date < datetime(2020,8,1)) & (dmc_data.date >= datetime(2020,7,1))].reset_index(drop=True)
dmc_aug = dmc_data[(dmc_data.date < datetime(2020,9,1)) & (dmc_data.date >= datetime(2020,8,1))].reset_index(drop=True)
dmc_sep = dmc_data[(dmc_data.date < datetime(2020,10,1)) & (dmc_data.date >= datetime(2020,9,1))].reset_index(drop=True)
dmc_oct = dmc_data[(dmc_data.date < datetime(2020,11,1)) & (dmc_data.date >= datetime(2020,10,1))].reset_index(drop=True)
dmc_nov = dmc_data[(dmc_data.date < datetime(2020,12,1)) & (dmc_data.date >= datetime(2020,11,1))].reset_index(drop=True)
dmc_dec = dmc_data[(dmc_data.date < datetime(2021,1,1)) & (dmc_data.date >= datetime(2020,12,1))].reset_index(drop=True)
dmc_jan = dmc_data[(dmc_data.date < datetime(2021,2,1)) & (dmc_data.date >= datetime(2021,1,1))].reset_index(drop=True)

In [4]:
# function for defining the fourth of a month a purchase was made

def getPartOfMonth(row):
    daysInRegMonths = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    dayOfDate = row.date.day
    return dayOfDate/(daysInRegMonths[row.date.month - 1]/4)

In [5]:
# calculate for every purchase in what fourth of the month it was made

tables = [dmc_jun, dmc_jul, dmc_aug, dmc_sep, dmc_oct, dmc_nov, dmc_dec, dmc_jan]

for table in tables:
    table['partOfMonth'] = table.apply(getPartOfMonth, axis=1)

In [6]:
# group by userID & item

for table in tables:
    table.groupby(['userID', 'itemID']).agg({'order':'sum', 'partOfMonth':'mean'})

In [7]:
dmc_data = pd.concat(tables)

In [8]:
dmc_data.groupby(['userID', 'itemID']).agg({'order':'sum', 'partOfMonth':'mean'})

               order  partOfMonth
userID itemID
0      1505        1     0.133333
       6446        2     1.677419
       9325        1     2.666667
       12468       1     0.387097
       12505       1     2.322581
...              ...          ...
46137  22403       1     2.322581
       22583       1     4.000000
       28343       1     1.032258
       28900       2     1.032258
       32292       2     1.032258

[896426 rows x 2 columns]

In [ ]:
    1, 2, 3, 4, 5, 6, 7, 8, 9.....
1   0  1  0  0  1
2
3
4